/*
Style.css
*/

.bds-logo {
    max-height: 40px;
    width: auto;
}

.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0c0c0c !important;
    font-weight: 700 !important;
}