{% extends 'base.html' %}
{% load static %}

{% block title %}Dealership Reviews{% endblock %}

{% block content %}
<div class="row mb-5">
    <div class="col-lg-8">
        <h1>Reviews for {{ dealership_details.full_name}}
        </h1>
    </div>
    <div class="col-lg-3">
        {% if user.is_authenticated %}
        <a class="btn btn-dark btn-lg" href="{% url 'base:add_review' dealership_details.id %}">Add Review</a>
        {% endif %}
    </div>
</div>
<div class="row">
    {% for review in reviews %}
    <div class="col-sm-4">
        <div class="card bg-light mb-3">
            {% if review.sentiment == "positive" %}
            <img class="card-img-top review-image" src="{{MEDIA_URL}}/emoji/positive.png"/>
            {% elif review.sentiment == "neutral" %}
            <img class="card-img-top review-image" src="{{MEDIA_URL}}/emoji/neutral.png"/>
            {% else %}
            <img class="card-img-top review-image" src="{{MEDIA_URL}}/emoji/negative.png"/>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{review.car_make}} {{review.car_model}}</h5>
                <h5 class="card-title">{{review.purchase_date}}</h5>
                <p class="card-text">{{review.review}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}